# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/interim/
data/processed/

# Model files
checkpoints/
models/*.pth
models/*.pt
*.ckpt

# Experiment outputs
experiments/
results/

# Environment
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db